.footer li {
  list-style:none;
  padding-bottom: 10px;
}

.footer ul {
  float: right;
}

. h1 {
  font-family: 'Times New Roman', Times, serif;
}

. lu {
  font-family: 'Times New Roman', Times, serif;
}

. p {
  font-family: 'Times New Roman', Times, serif;
}

. h2 {
  font-family: 'Times New Roman', Times, serif;
}

